*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: sans-serif;
}

/* -------------------------------------------------------------------navbar--------------------------------- */
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar
{
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  padding: 0 !important;
}

.navbar-brand img
{
  height: 80px;
  width: 80px;
  /* padding-left: 20px; */
}

.navbar-nav li
{
  padding: 0 10px;
}

.navbar-nav li a
{
  color: #fff !important;
  font-weight: bold;
  float: right;
  text-align: left;
}

.navbar-toggler
{
  outline: none !important;
}
/* ----------------------------------------------------------------end navbar----------------------------------- */

/* ----------------------------------------------------------------banner---------------------------------------- */
#banner
{
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: #fff;
  padding-top: 5%;
}

.promo-title
{
  font-size: 30px;
  /* font-weight: 600px; */
  margin-top: 30px;
}

.play-btn
{
  width: 45px;
  height: 45px;
  margin: 20px;
}

#banner a
{
  color: #fff;
  text-decoration: none;
}

.bottom_img
{
  width: 100%;
  /* filter: grayscale(1000%); */
  filter: brightness(0.1) invert(1);
}
/* ----------------------------------------------------------------end banner-------------------------------------- */

/* -----------------------------------------------------------------services--------------------------------------- */
#services
{
  padding: 80px 0;
}

/* .service-img
{
  width: 200px;
  height: 200px;
  margin-top: 20px;
} */

#services p
{
  text-align: justify;
}

.services
{
  padding: 20px;
}

.services h4
{
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.title::before
{
  content: '';
  background: #7b1798;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.title::after
{
  content: '';
  background: #7b1798;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

#services .btn-primary
{
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}
/* ------------------------------------------------------------------endservices------------------------------------ */

/* ------------------------------------------------------------------about-us---------------------------------------- */
#about-us
{
  background: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
}

.about-title
{
  font-size: 40px;
  font-weight: 600px;
  margin-top: 8%;
}

#about-us ul li
{
  margin: 10px 0;
}

#about-us ul
{
  margin-left: 30px;
}
/* ------------------------------------------------------------------end about-us------------------------------------ */

/* -------------------------------------------------------------------testimonies------------------------------------ */
#testimonies
{
  margin: 100px 0;
}

.testimonies
{
  border-left: 4px solid #7b1798;
  margin-top: 50px;
  margin-bottom: 50px;
}

.testimonies img
{
  height: 60px;
  width: 60px;
  border-radius: 60%;
  margin: 0 10px;
}

.user-details
{
  display: inline-block;
  font-size: 12px;
}
/* -------------------------------------------------------------------end testimonies------------------------------- */

/* --------------------------------------------------------------------social-media---------------------------------- */
#social-media
{
  background: #f8f9fa;
  padding: 100px 0;
}

#social-media p
{
  font-size: 36px;
  font-weight: 600px;
  margin-bottom: 30px;
}

.social-icons .fab
{
  width: 100px;
  font-size: 50px;
  transition: 0.5s;
}

.social-icons a:hover .fab
{
  transform: translateY(-10px);
}
/* --------------------------------------------------------------------end social-media------------------------------ */

/* ---------------------------------------------------------------------footer--------------------------------------- */
#footer
{
  background-image: linear-gradient(to right, #a517ba, #5f1782);
  color: #fff;
}

.footer-img
{
  width: 100%;
}

.footer-box
{
  padding: 20px;
}

.footer-box img
{
  width: 100px;
  height: 100px;
  margin-top: 100px;
}

.footer-box .footer-fix-img
{
  visibility: hidden;
}

@media only screen and (max-width: 600px)
{
  .footer-box .footer-fix-img
  {
    display: none;
  }
}

.footer-box fas
{
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.footer-box .form-control
{
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
}

.footer-box .btn-primary
{
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 13px;
  background-image: linear-gradient(to right, #a517ba, #5f1782);
}

hr
{
  background-color: #fff;
}

.copyright
{
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}
/* ----------------------------------------------------------------------end footer---------------------------------- */